@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app {
  margin: auto;
  position: relative;
  top: 100px;
  max-width: 600px;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  opacity: 0.9;
}

.h1-container {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.weather-icon,
.weather-temp {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.weather-info,
.my-position {
  border-radius: 10px;
  font-size: 2rem;
}

