@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
  overflow-y: hidden;
}

.app {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  background-color: rgb(37 35 35);
  opacity: 0.8;
  color: white;
  box-shadow: black 0 20px 30px -10px;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background-color: lightgreen;
  padding: 1rem;
  box-shadow: black 0 20px 30px -10px;
  color: black;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: darkolivegreen;
  color: white;
}

.local-time,
.icon,
.temperature-value,
.description,
.location,
.wind,
.feels-like,
.date,
.button-container,
.visibility {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.temperature-value {
  font-size: 6rem;
}

.error-container {
  display: none;
  text-align: center;
  padding: 1rem;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
}

.three-hour,
.six-hour,
.nine-hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
