@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
}

.app {
  top: 50px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  background-color: rgb(37 35 35);
  opacity: 0.8;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background-color: lightgreen;
  padding: 1rem;
}

button:hover {
  outline: 1px solid palevioletred;
}

.local-time,
.icon,
.temperature-value,
.description,
.location,
.wind,
.feels-like,
.date,
.button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.temperature-value {
  font-size: 6rem;
}

.error {
  display: none;
}
